**/__pycache__/
**/*.py[cod]
**/.env
**/.env.*
!**/.env.example
!**/.env.sample
!**/.env.template
**/.venv/
**/venv/
**/.DS_Store

**/.langgraph_api/
**/langgraph.json

**/node_modules
**/.pnp.*
**/.next
**/out
**/.turbo
**/.cache
**/dist
**/coverage
**/*.log
**/.yarn/*
**/!.yarn/patches
**/!.yarn/plugins
**/!.yarn/releases
**/!.yarn/sdks
**/!.yarn/versions